.section-1 {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
}
.button-content {
    display: flex;
    justify-content: center;
    gap: 10px; /* Optional: space between buttons */
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
.img-segitiga {
    text-align: center;
}

img {
    height: 100px;
}
input {
    width: 99%;
    background-color: whitesmoke; 
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#btn-hitung {
    margin: auto;
    display: block;
    width: 150px;
}
#btn-reset {
    float: right;
} 